* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  background-color: #001832;
}

html,
body,
#root {
  height: 100%;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

button:focus {
  outline: 2px solid #fff3f3;
  outline-offset: 2px;
}
